.form {
  height: 300px;        
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.content { 
  padding: 50px;
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  border: 1px solid black; 
  height: 400px; 
  width: auto; 
  box-sizing: border-box; 
  border-radius: 10px; 
}   
.select {
   width: 100px;
   margin-left: 30px;
}
.main {
    display: flex;
      }

.input,
.select, 
h4 {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  box-sizing: border-box;
}
.tenge,
.dollar,
.euro {
  margin-left: 30px;
  width: 200px;
  text-align: center;

}
.tenge h4,
.dollar h4,
.euro h4{
  background-color: lightgray;
} 
